body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:279px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:47px;
  width:530px;
  height:279px;
  display:flex;
}
#u1678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
  display:flex;
}
#u1679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1680_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:93px;
  height:11px;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:97px;
  width:87px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-89.99636718128097deg);
  -moz-transform:rotate(-89.99636718128097deg);
  -ms-transform:rotate(-89.99636718128097deg);
  transform:rotate(-89.99636718128097deg);
}
#u1680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:98px;
  height:11px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:56px;
  width:92px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-179.90665903064286deg);
  -moz-transform:rotate(-179.90665903064286deg);
  -ms-transform:rotate(-179.90665903064286deg);
  transform:rotate(-179.90665903064286deg);
}
#u1681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:98px;
  height:11px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:299px;
  width:92px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-179.90665903064286deg);
  -moz-transform:rotate(-179.90665903064286deg);
  -ms-transform:rotate(-179.90665903064286deg);
  transform:rotate(-179.90665903064286deg);
}
#u1682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:93px;
  height:11px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:258px;
  width:87px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-89.99636718128097deg);
  -moz-transform:rotate(-89.99636718128097deg);
  -ms-transform:rotate(-89.99636718128097deg);
  transform:rotate(-89.99636718128097deg);
}
#u1683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:98px;
  height:11px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:56px;
  width:92px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-179.90665903064286deg);
  -moz-transform:rotate(-179.90665903064286deg);
  -ms-transform:rotate(-179.90665903064286deg);
  transform:rotate(-179.90665903064286deg);
}
#u1684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:98px;
  height:11px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:298px;
  width:92px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-179.90665903064286deg);
  -moz-transform:rotate(-179.90665903064286deg);
  -ms-transform:rotate(-179.90665903064286deg);
  transform:rotate(-179.90665903064286deg);
}
#u1685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:93px;
  height:11px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:97px;
  width:87px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-89.99636718128097deg);
  -moz-transform:rotate(-89.99636718128097deg);
  -ms-transform:rotate(-89.99636718128097deg);
  transform:rotate(-89.99636718128097deg);
}
#u1686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:93px;
  height:11px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:257px;
  width:87px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-89.99636718128097deg);
  -moz-transform:rotate(-89.99636718128097deg);
  -ms-transform:rotate(-89.99636718128097deg);
  transform:rotate(-89.99636718128097deg);
}
#u1687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:295px;
  width:73px;
  height:23px;
  display:flex;
}
#u1688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:300px;
  width:29px;
  height:18px;
  display:flex;
}
#u1689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:67px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:147px;
  width:70px;
  height:67px;
  display:flex;
}
#u1690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:239px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:61px;
  width:351px;
  height:239px;
  display:flex;
}
#u1691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 218, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:136px;
  width:104px;
  height:90px;
  display:flex;
}
#u1692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:2px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:139px;
  width:7px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:2px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:221px;
  width:7px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:180px;
  width:8px;
  height:1px;
  display:flex;
}
#u1695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:180px;
  width:8px;
  height:1px;
  display:flex;
}
#u1696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
