body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
  display:flex;
}
#u524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:244px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:58px;
  width:496px;
  height:244px;
  display:flex;
}
#u525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:105px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:197px;
  width:496px;
  height:105px;
  display:flex;
}
#u526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:295px;
  width:73px;
  height:23px;
  display:flex;
}
#u527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:63px;
  width:116px;
  height:15px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:62px;
  width:27px;
  height:13px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u529 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:12px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:63px;
  width:23px;
  height:12px;
  display:flex;
  color:#121212;
}
#u530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:62px;
  width:14px;
  height:13px;
  display:flex;
  color:#121212;
}
#u531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  text-align:center;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:77px;
  width:313px;
  height:38px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  text-align:center;
}
#u532 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.7372549019607844);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:168px;
  width:105px;
  height:24px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:117px;
  width:96px;
  height:34px;
  display:flex;
  font-size:24px;
}
#u534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:300px;
  width:29px;
  height:18px;
  display:flex;
}
#u535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:32px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:86px;
  width:34px;
  height:32px;
  display:flex;
  font-size:10px;
}
#u536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
