body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:72px;
  width:43px;
  height:40px;
  display:flex;
  color:#8C8C8C;
}
#u1467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
  display:flex;
}
#u1468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:254px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:58px;
  width:496px;
  height:244px;
  display:flex;
  color:#C59F17;
}
#u1469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:63px;
  width:116px;
  height:15px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u1470 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:62px;
  width:27px;
  height:13px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u1471 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:12px;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:63px;
  width:23px;
  height:12px;
  display:flex;
  color:#121212;
}
#u1472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:62px;
  width:14px;
  height:13px;
  display:flex;
  color:#121212;
}
#u1473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:295px;
  width:73px;
  height:23px;
  display:flex;
}
#u1474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:300px;
  width:29px;
  height:18px;
  display:flex;
}
#u1475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:213px;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:94px;
  width:223px;
  height:213px;
  display:flex;
}
#u1476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:177px;
  width:83px;
  height:99px;
  display:flex;
}
#u1477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:216px;
  width:127px;
  height:60px;
  display:flex;
}
#u1478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:240px;
  width:122px;
  height:36px;
  display:flex;
}
#u1479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:12px;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:246px;
  width:60px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90.35258496165709deg);
  -moz-transform:rotate(90.35258496165709deg);
  -ms-transform:rotate(90.35258496165709deg);
  transform:rotate(90.35258496165709deg);
}
#u1480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:12px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:276px;
  width:249px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.10181505618601128deg);
  -moz-transform:rotate(-0.10181505618601128deg);
  -ms-transform:rotate(-0.10181505618601128deg);
  transform:rotate(-0.10181505618601128deg);
}
#u1481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:256px;
  width:39px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-90.24102599407028deg);
  -moz-transform:rotate(-90.24102599407028deg);
  -ms-transform:rotate(-90.24102599407028deg);
  transform:rotate(-90.24102599407028deg);
}
#u1482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:216px;
  width:91px;
  height:6px;
  display:flex;
}
#u1483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:235px;
  width:86px;
  height:6px;
  display:flex;
}
#u1484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:174px;
  width:91px;
  height:6px;
  display:flex;
}
#u1485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:12px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:199px;
  width:45px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90.4826545541277deg);
  -moz-transform:rotate(90.4826545541277deg);
  -ms-transform:rotate(90.4826545541277deg);
  transform:rotate(90.4826545541277deg);
}
#u1486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:12px;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:207px;
  width:64px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(89.57406251830909deg);
  -moz-transform:rotate(89.57406251830909deg);
  -ms-transform:rotate(89.57406251830909deg);
  transform:rotate(89.57406251830909deg);
}
#u1487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:42px;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:177px;
  width:29px;
  height:32px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#C59F17;
}
#u1488 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1488_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:42px;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:219px;
  width:29px;
  height:32px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#968B8B;
}
#u1489 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1489_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:42px;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:238px;
  width:29px;
  height:32px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#E89F41;
}
#u1490 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1490_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:127px;
  width:87px;
  height:42px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#16209E;
  text-align:center;
}
#u1491 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:52px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:171px;
  width:79px;
  height:42px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#16209E;
  text-align:center;
}
#u1492 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:53px;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:189px;
  width:77px;
  height:43px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#16209E;
  text-align:center;
}
#u1493 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:45px;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:85px;
  width:51px;
  height:35px;
  display:flex;
}
#u1494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:214px;
  width:46px;
  height:43px;
  display:flex;
}
#u1495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
