body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:244px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:58px;
  width:496px;
  height:244px;
  display:flex;
}
#u751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
  display:flex;
}
#u752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
  display:flex;
}
#u753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:63px;
  width:116px;
  height:15px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u754 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:62px;
  width:27px;
  height:13px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u755 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:12px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:63px;
  width:23px;
  height:12px;
  display:flex;
  color:#121212;
}
#u756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:62px;
  width:14px;
  height:13px;
  display:flex;
  color:#121212;
}
#u757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:295px;
  width:73px;
  height:23px;
  display:flex;
}
#u758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:300px;
  width:29px;
  height:18px;
  display:flex;
}
#u759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8627450980392157);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(13, 13, 13, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:102px;
  width:435px;
  height:182px;
  display:flex;
}
#u760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:110px;
  width:374px;
  height:64px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u761 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:178px;
  width:64px;
  height:60px;
  display:flex;
}
#u762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:178px;
  width:64px;
  height:60px;
  display:flex;
}
#u763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:178px;
  width:64px;
  height:60px;
  display:flex;
}
#u764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:178px;
  width:64px;
  height:60px;
  display:flex;
}
#u765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:179px;
  width:64px;
  height:60px;
  display:flex;
}
#u766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:174px;
  width:74px;
  height:74px;
  display:flex;
}
#u767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:174px;
  width:74px;
  height:74px;
  display:flex;
}
#u768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:174px;
  width:74px;
  height:74px;
  display:flex;
}
#u769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:174px;
  width:74px;
  height:74px;
  display:flex;
}
#u770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:74px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:174px;
  width:74px;
  height:74px;
  display:flex;
}
#u771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.7372549019607844);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:251px;
  width:100px;
  height:24px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:18px;
}
#u772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
