body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
  display:flex;
}
#u466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:244px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:58px;
  width:496px;
  height:244px;
  display:flex;
}
#u467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:63px;
  width:116px;
  height:15px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u468 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:62px;
  width:27px;
  height:13px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u469 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:12px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:63px;
  width:23px;
  height:12px;
  display:flex;
  color:#121212;
}
#u470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:62px;
  width:14px;
  height:13px;
  display:flex;
  color:#121212;
}
#u471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:295px;
  width:73px;
  height:23px;
  display:flex;
}
#u472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:300px;
  width:29px;
  height:18px;
  display:flex;
}
#u473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.7333333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:120px;
  width:213px;
  height:35px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 21px;
  box-sizing:border-box;
  width:100%;
}
#u474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:84px;
  width:326px;
  height:19px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
}
#u475 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:164px;
  width:213px;
  height:40px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 21px;
  box-sizing:border-box;
  width:100%;
}
#u476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.7333333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:213px;
  width:211px;
  height:35px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 21px;
  box-sizing:border-box;
  width:100%;
}
#u477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.7372549019607844);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:257px;
  width:213px;
  height:35px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 21px;
  box-sizing:border-box;
  width:100%;
}
#u478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:333px;
  height:7px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:108px;
  width:329px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(-0.11660703673613323deg);
  -moz-transform:rotate(-0.11660703673613323deg);
  -ms-transform:rotate(-0.11660703673613323deg);
  transform:rotate(-0.11660703673613323deg);
}
#u479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:178px;
  height:5px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:207px;
  width:175px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(89.74041992684677deg);
  -moz-transform:rotate(89.74041992684677deg);
  -ms-transform:rotate(89.74041992684677deg);
  transform:rotate(89.74041992684677deg);
}
#u480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:122px;
  width:197px;
  height:38px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 27px;
  box-sizing:border-box;
  width:100%;
}
#u481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:166px;
  width:197px;
  height:38px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 27px;
  box-sizing:border-box;
  width:100%;
}
#u482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:133px;
  width:16px;
  height:17px;
  display:flex;
}
#u483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:133px;
  width:16px;
  height:17px;
  display:flex;
}
#u484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:208px;
  height:5px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:264px;
  width:205px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-0.4224012722026744deg);
  -moz-transform:rotate(-0.4224012722026744deg);
  -ms-transform:rotate(-0.4224012722026744deg);
  transform:rotate(-0.4224012722026744deg);
}
#u485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:210px;
  width:195px;
  height:38px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 27px;
  box-sizing:border-box;
  width:100%;
}
#u486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:221px;
  width:17px;
  height:17px;
  display:flex;
}
#u487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:177px;
  width:16px;
  height:17px;
  display:flex;
}
#u488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:176px;
  width:16px;
  height:17px;
  display:flex;
}
#u489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
