body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:255px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:52px;
  width:502px;
  height:255px;
  display:flex;
}
#u977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:264px;
  width:160px;
  height:38px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
}
#u978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
  display:flex;
}
#u979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:63px;
  width:116px;
  height:15px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:62px;
  width:27px;
  height:13px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u981 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:12px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:63px;
  width:23px;
  height:12px;
  display:flex;
  color:#121212;
}
#u982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:62px;
  width:14px;
  height:13px;
  display:flex;
  color:#121212;
}
#u983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:295px;
  width:73px;
  height:23px;
  display:flex;
}
#u984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:300px;
  width:29px;
  height:18px;
  display:flex;
}
#u985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:25px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:116px;
  width:15px;
  height:15px;
  display:flex;
}
#u986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:25px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:205px;
  width:15px;
  height:15px;
  display:flex;
}
#u987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:35px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:165px;
  width:20px;
  height:35px;
  display:flex;
}
#u988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:25px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:185px;
  width:15px;
  height:15px;
  display:flex;
}
#u989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:25px;
  height:25px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:124px;
  width:15px;
  height:15px;
  display:flex;
}
#u990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:64px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:230px;
  width:69px;
  height:64px;
  display:flex;
}
#u991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:86px;
  width:61px;
  height:35px;
  display:flex;
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:14px;
}
#u992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:158px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8627450980392157);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(13, 13, 13, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:103px;
  width:375px;
  height:158px;
  display:flex;
}
#u994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:121px;
  width:283px;
  height:64px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u995 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
  background:inherit;
  background-color:rgba(78, 184, 198, 0.7372549019607844);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:83px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:195px;
  width:90px;
  height:45px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
  background:inherit;
  background-color:rgba(78, 184, 198, 0.7372549019607844);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:83px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:195px;
  width:90px;
  height:45px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
