body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:279px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:47px;
  width:530px;
  height:279px;
  display:flex;
}
#u1637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
}
#u1638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
  display:flex;
}
#u1638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:227px;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:67px;
  width:339px;
  height:227px;
  display:flex;
}
#u1639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1640_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:93px;
  height:11px;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:97px;
  width:87px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-89.99636718128097deg);
  -moz-transform:rotate(-89.99636718128097deg);
  -ms-transform:rotate(-89.99636718128097deg);
  transform:rotate(-89.99636718128097deg);
}
#u1640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1641_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:98px;
  height:11px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:56px;
  width:92px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-179.90665903064286deg);
  -moz-transform:rotate(-179.90665903064286deg);
  -ms-transform:rotate(-179.90665903064286deg);
  transform:rotate(-179.90665903064286deg);
}
#u1641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1642_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:98px;
  height:11px;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:299px;
  width:92px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-179.90665903064286deg);
  -moz-transform:rotate(-179.90665903064286deg);
  -ms-transform:rotate(-179.90665903064286deg);
  transform:rotate(-179.90665903064286deg);
}
#u1642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1643_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:93px;
  height:11px;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:258px;
  width:87px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-89.99636718128097deg);
  -moz-transform:rotate(-89.99636718128097deg);
  -ms-transform:rotate(-89.99636718128097deg);
  transform:rotate(-89.99636718128097deg);
}
#u1643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1644_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:98px;
  height:11px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:56px;
  width:92px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-179.90665903064286deg);
  -moz-transform:rotate(-179.90665903064286deg);
  -ms-transform:rotate(-179.90665903064286deg);
  transform:rotate(-179.90665903064286deg);
}
#u1644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1645_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:98px;
  height:11px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:298px;
  width:92px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-179.90665903064286deg);
  -moz-transform:rotate(-179.90665903064286deg);
  -ms-transform:rotate(-179.90665903064286deg);
  transform:rotate(-179.90665903064286deg);
}
#u1645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1646_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:93px;
  height:11px;
}
#u1646 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:97px;
  width:87px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-89.99636718128097deg);
  -moz-transform:rotate(-89.99636718128097deg);
  -ms-transform:rotate(-89.99636718128097deg);
  transform:rotate(-89.99636718128097deg);
}
#u1646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1647_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:93px;
  height:11px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:257px;
  width:87px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-89.99636718128097deg);
  -moz-transform:rotate(-89.99636718128097deg);
  -ms-transform:rotate(-89.99636718128097deg);
  transform:rotate(-89.99636718128097deg);
}
#u1647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:295px;
  width:73px;
  height:23px;
  display:flex;
}
#u1648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:300px;
  width:29px;
  height:18px;
  display:flex;
}
#u1649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 218, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:136px;
  width:104px;
  height:90px;
  display:flex;
}
#u1650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:2px;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:139px;
  width:7px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:2px;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:221px;
  width:7px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:180px;
  width:8px;
  height:1px;
  display:flex;
}
#u1653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:2px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:180px;
  width:8px;
  height:1px;
  display:flex;
}
#u1654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:67px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:147px;
  width:70px;
  height:67px;
  display:flex;
}
#u1655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
