body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:72px;
  width:43px;
  height:40px;
  display:flex;
  color:#8C8C8C;
}
#u1313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
  display:flex;
}
#u1314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:254px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:58px;
  width:496px;
  height:244px;
  display:flex;
  color:#C59F17;
}
#u1315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:63px;
  width:116px;
  height:15px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u1316 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:62px;
  width:27px;
  height:13px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u1317 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:12px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:63px;
  width:23px;
  height:12px;
  display:flex;
  color:#121212;
}
#u1318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:62px;
  width:14px;
  height:13px;
  display:flex;
  color:#121212;
}
#u1319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:295px;
  width:73px;
  height:23px;
  display:flex;
}
#u1320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:300px;
  width:29px;
  height:18px;
  display:flex;
}
#u1321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:213px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:94px;
  width:223px;
  height:213px;
  display:flex;
}
#u1322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:177px;
  width:83px;
  height:99px;
  display:flex;
}
#u1323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:216px;
  width:127px;
  height:60px;
  display:flex;
}
#u1324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:240px;
  width:122px;
  height:36px;
  display:flex;
}
#u1325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:12px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:246px;
  width:60px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90.35258496165709deg);
  -moz-transform:rotate(90.35258496165709deg);
  -ms-transform:rotate(90.35258496165709deg);
  transform:rotate(90.35258496165709deg);
}
#u1326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:12px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:276px;
  width:249px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.10181505618601128deg);
  -moz-transform:rotate(-0.10181505618601128deg);
  -ms-transform:rotate(-0.10181505618601128deg);
  transform:rotate(-0.10181505618601128deg);
}
#u1327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:256px;
  width:39px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-90.24102599407028deg);
  -moz-transform:rotate(-90.24102599407028deg);
  -ms-transform:rotate(-90.24102599407028deg);
  transform:rotate(-90.24102599407028deg);
}
#u1328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:216px;
  width:91px;
  height:6px;
  display:flex;
}
#u1329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:235px;
  width:86px;
  height:6px;
  display:flex;
}
#u1330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.34901960784313724);
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:174px;
  width:91px;
  height:6px;
  display:flex;
}
#u1331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:12px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:199px;
  width:45px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(90.4826545541277deg);
  -moz-transform:rotate(90.4826545541277deg);
  -ms-transform:rotate(90.4826545541277deg);
  transform:rotate(90.4826545541277deg);
}
#u1332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:12px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:207px;
  width:64px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(89.57406251830909deg);
  -moz-transform:rotate(89.57406251830909deg);
  -ms-transform:rotate(89.57406251830909deg);
  transform:rotate(89.57406251830909deg);
}
#u1333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:42px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:177px;
  width:29px;
  height:32px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#C59F17;
}
#u1334 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1334_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:42px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:219px;
  width:29px;
  height:32px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#968B8B;
}
#u1335 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1335_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:42px;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:238px;
  width:29px;
  height:32px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#E89F41;
}
#u1336 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1336_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:127px;
  width:87px;
  height:42px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#16209E;
  text-align:center;
}
#u1337 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:52px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:171px;
  width:79px;
  height:42px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#16209E;
  text-align:center;
}
#u1338 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:53px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:189px;
  width:77px;
  height:43px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  color:#16209E;
  text-align:center;
}
#u1339 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:45px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:85px;
  width:51px;
  height:35px;
  display:flex;
}
#u1340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:214px;
  width:46px;
  height:43px;
  display:flex;
}
#u1341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
