body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:244px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:58px;
  width:496px;
  height:244px;
  display:flex;
}
#u676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:714px;
  height:364px;
  display:flex;
}
#u677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:714px;
  height:364px;
  display:flex;
}
#u678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:63px;
  width:116px;
  height:15px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u679 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:62px;
  width:27px;
  height:13px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:12px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:63px;
  width:23px;
  height:12px;
  display:flex;
  color:#121212;
}
#u681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:62px;
  width:14px;
  height:13px;
  display:flex;
  color:#121212;
}
#u682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:295px;
  width:73px;
  height:23px;
  display:flex;
}
#u683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:300px;
  width:29px;
  height:18px;
  display:flex;
}
#u684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8627450980392157);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(13, 13, 13, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:102px;
  width:435px;
  height:182px;
  display:flex;
}
#u685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:125px;
  width:374px;
  height:64px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u686 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
  background:inherit;
  background-color:rgba(78, 184, 198, 0.7372549019607844);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:83px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:213px;
  width:90px;
  height:45px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
  background:inherit;
  background-color:rgba(78, 184, 198, 0.7372549019607844);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:83px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:213px;
  width:90px;
  height:45px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
