body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
  display:flex;
}
#u727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:244px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:58px;
  width:496px;
  height:244px;
  display:flex;
}
#u728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:63px;
  width:116px;
  height:15px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u729 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:62px;
  width:27px;
  height:13px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:12px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:63px;
  width:23px;
  height:12px;
  display:flex;
  color:#121212;
}
#u731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:62px;
  width:14px;
  height:13px;
  display:flex;
  color:#121212;
}
#u732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:295px;
  width:73px;
  height:23px;
  display:flex;
}
#u733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:300px;
  width:29px;
  height:18px;
  display:flex;
}
#u734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:137px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:102px;
  width:281px;
  height:137px;
  display:flex;
}
#u735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:143px;
  width:235px;
  height:64px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:147px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:148px;
  width:144px;
  height:147px;
  display:flex;
}
#u737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
