body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:244px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:58px;
  width:496px;
  height:244px;
  display:flex;
}
#u1400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:364px;
  display:flex;
}
#u1401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:63px;
  width:116px;
  height:15px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#000000;
}
#u1402 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:62px;
  width:27px;
  height:13px;
  display:flex;
  font-family:"Arial Bold Oblique", "Arial Bold", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:oblique;
  font-size:12px;
  color:#121212;
}
#u1403 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:12px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:63px;
  width:23px;
  height:12px;
  display:flex;
  color:#121212;
}
#u1404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:62px;
  width:14px;
  height:13px;
  display:flex;
  color:#121212;
}
#u1405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:295px;
  width:73px;
  height:23px;
  display:flex;
}
#u1406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:300px;
  width:29px;
  height:18px;
  display:flex;
}
#u1407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:46px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:149px;
  width:207px;
  height:46px;
  display:flex;
}
#u1409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:156px;
  width:177px;
  height:32px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:28px;
}
#u1410 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1410_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:202px;
  width:43px;
  height:40px;
  display:flex;
  color:#8C8C8C;
}
#u1411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:93px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:192px;
  width:97px;
  height:93px;
  display:flex;
}
#u1412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:129px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:76px;
  width:169px;
  height:129px;
  display:flex;
  font-size:28px;
}
#u1413 .text {
  position:absolute;
  align-self:center;
  padding:1.9999999999999998px 8.000000000001648px 36.98804531099864px 2.4297405812979975px;
  box-sizing:border-box;
  width:100%;
}
#u1413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
